@CHARSET "UTF-8";

@def gameWidth 450px;
@def gameHeight 450px;
	
@def infoWidth 415px;
@def infoHeight 350px;
	
A:link {text-decoration: underline; color:#999999; }
A:visited {text-decoration: underline; color: #999999; }
A:active {text-decoration: underline; color: #b8fcff; }
A:hover {text-decoration: underline; color:#b8fcff; }

body {
   background-color:#024001;
   font-family: "Courier New", Courier, monospace;
   margin: 0px;
   padding: 0px;
}

.wrapper {
    position: relative;
    border: 3px  solid;	
    top: 20px;
    margin-left: auto;
    margin-right: auto;
   margin: 0 auto;
   text-align:center;
   width: gameWidth;
   height: gameHeight;
   background-color:#777777;
}


.gameWindow {
	position: absolute;
	background-color: #ffffff;
	margin: auto auto;
	top: 4px;
	border: 2px solid #000000;
	border-collapse:collapse;
	height:89%;
	width: 96%;
	
}

.playButton {
	margin: 0 0 0 15px;
	
}

.stopButton {
	margin: 0 0 0 8px;
	
}

.speedListBox {
	width: 85px;
	margin: 0 0 0 19px;
}

.presetListBox {
	width: 164px;
	margin: 0 0 0 19px;
}

.infoButton {
	position:absolute;
	width: 21px;
	height: 20px;
	right:12px;
	color: #000;
	font-weight: bold;
	font-size: 107%;
	background-color: #e0e0e0;
	border-top: 1px solid #321d99;
	border-right: 1px solid #0043b0;
	border-left: 1px solid #3d9fde;
	border-bottom: 1px solid #303030;
	padding-top:1px;
	outline: 1px solid #303030
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.infoFrame {
	border: 0px;
	}
	
@external .Caption;
.infoBox .Caption {
	/*font-family: “Georgia”, serif;*/
	font-size:x-large;
	color: #1E9E3E;
	text-align:center;
	}
	

